/* General */
*{ margin: 0; padding: 0; box-sizing: border-box; }
body{ background-color: #000 !important; overflow-x: hidden;}
.pt-big{ padding-top: 120px; }
.sec_text{ font-size: 50px; }
.text_view{ color: #fff; opacity: 0.9; font-weight: 300; }

/* Start Header */
.header{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
}

/* Navbar scroll */
.nav_scroll{ background-color: rgb(0, 0, 0); transition: all 0.5s cubic-bezier(.215, .61, .355, 1); }
.opacity{ opacity: 0; }
.opacity_show{ opacity: 0.6; }
/* End Navbar scroll */

.header-content{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content .content_head a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}
.list_items{
    display: flex;
    margin: 0;
}
.list_items li{
    padding: 0 15px;
    list-style-type: none;
}
.list_items li a{ color: #fff; text-decoration: none; }
.icon_header{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 0 15px;
}
/* End Header */


/* Hero Section & Line vh */
.hero-bg{
    background-color: #000;
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.hero-bg .line{
    display: flex;
    justify-content: center;
}
.hero-bg .line_item{
    opacity: 0.2;
    height: 100vh;
    border-right: 1px solid #fff;
}

/* Name Section */
.name-hero{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.image_none{ opacity: 0; top: 100vh;}
.image_show{ top: 60%; }
.image_fade_out{ top: -100vh; opacity: 0.3;}

.hero_light{ position: absolute; left: 50%; }
.light_on{ top: -15vh; transition: all 1s cubic-bezier(.215, .61, .355, 1); }
.light_off{ top: -100vh }

.name_matteo_morganti{
    font-size: 150px;
    color: #fff;
    font-family: fantasy;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}
.profession_text{
    font-size: 80px;
    color: rgb(248, 54, 54);
    font-family: fantasy;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

/* End Hero */

/* Start Profile e Cv */
#profile, #curriculum{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-title{
    margin-bottom: 40px;
}
.img_profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CV */
.cv_container{
    padding: 20px;
    margin: 0 30px;
    border: 1px solid rgb(248, 54, 54);
}

.icon_cv{
    font-size: 35px;
    color: rgb(248, 54, 54);
    margin: 0 10px 15px 15px;
}
.cv_look a{
    text-decoration: none;
}
/* End Profile e Cv */


/* MediaQeury */
@media (max-width: 1200px){
    .name_matteo_morganti{
        font-size: 130px;
    }
    
}

@media (max-width: 992px){
    .name_matteo_morganti{
        font-size: 95px;
    }
    .profession_text{
        font-size: 65px;
    }
    .list_items{
        display: none;
    }
    .image_matteo_morganti{
        width: 500px;
        height: 500px;
    }
   
}

@media (max-width: 768px){
    .name_matteo_morganti{
        font-size: 70px;
    }
    .profession_text{
        font-size: 50px;
    }
    .name-hero{
        top: 50%;
    }
    .hero_light{
        left: 0;
        top: 0vh;
    }
}

@media (max-width: 576px){
    .name_matteo_morganti{
        font-size: 50px;
    }
    .profession_text{
        font-size: 35px;
    }
    .name-hero .image_matteo_morganti{
        width: 400;
        height: 400;
    }
}

@media (max-width: 400px){
    .name_matteo_morganti{
        font-size: 40px;
    }
    .profession_text{
        font-size: 25px;
    }
    .hero_light{
        left: -30%;
    }
}